@import 'tailwindcss';
@import '../../public/fonts/satoshi/satoshi.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-primary: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
    --font-secondary: 'Cal Sans', ui-sans-serif, system-ui, sans-serif;

    --text-3xs: 0.75rem; /* 12px */
    --text-2xs: 1rem; /* 16px */
    --text-xs: 1.125rem; /* 18px */
    --text-sm: 1.25rem; /* 20px */
    --text-base: 1.5rem; /* 24px */
    --text-lg: 2rem; /* 32px */
    --text-xl: 2.5rem; /* 40px */
    --text-2xl: 2.725rem; /* 44px */
    --text-3xl: 3rem; /* 48px */
    --text-4xl: 4rem; /* 64px */
    --text-display: 5rem; /* 80px */
    --text-giant: 6rem; /* 96px */
}
