@import 'tailwindcss';
@import '../../public/fonts/satoshi/satoshi.css';
@import '../../vendor/filament/actions/resources/css/index.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@variant dark (&:where(.dark, .dark *));

:root {
    --app-gradient-end: #2e2190;
    --helper-outline: #2c2c2d;
    --elevation-surface: #fbfbff;
    --elevation-surface-dark: #09090a;
    --elevation-01dp: #0f0f10;
    --elevation-02dp: #131314;
    --outline-dark: #2c2c2d;
    --text-high: #fdfdfd;
    --icon-medium: #9c9c9c;
    --c-medium: #9c9c9c;
    --indigo-primary: #4f39f6;
    --brand-primary: #3895ff;
    --brand-500: #2287ed;
    --green-500: #00a100;
    --lime-primary: #a5e412;
}

@theme {
    --font-primary: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
    --font-secondary: 'Cal Sans', ui-sans-serif, system-ui, sans-serif;

    --text-3xs: 0.75rem; /* 12px */
    --text-2xs: 0.875rem; /* 14px */
    --text-xs: 1rem; /* 16px */
    --text-xs--line-height: 1;
    --text-sm: 1.25rem; /* 20px */
    --text-sm--line-height: 1;
    --text-md: 1.5rem; /* 24px */
    --text-md--line-height: 1;
    --text-lg: 2rem; /* 32px */
    --text-xl: 2.5rem; /* 40px */
    --text-2xl: 2.725rem; /* 44px */
    --text-3xl: 3rem; /* 48px */
    --text-4xl: 4rem; /* 64px */
    --text-display: 5rem; /* 80px */
    --text-giant: 6rem; /* 96px */
    --text-base--line-height: 1;

    --spacing-xs: 150%;

    --color-app-gradient-end: var(--app-gradient-end);
    --color-helper-outline: var(--helper-outline);
    --color-elevation-surface: var(--elevation-surface);
    --color-elevation-surface-dark: var(--elevation-surface-dark);
    --color-elevation-01dp: var(--elevation-01dp);
    --color-elevation-02dp: var(--elevation-02dp);
    --color-outline-dark: var(--outline-dark);
    --color-text-high: var(--text-high);
    --color-icon-medium: var(--icon-medium);
    --color-c-medium: var(--c-medium);
    --color-indigo-primary: var(--indigo-primary);
    --color-brand-primary: var(--brand-primary);
    --color-brand-500: var(--brand-500);
    --color-green-500: var(--green-500);
    --color-lime-primary: var(--lime-primary);
}
